.main-image-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 80vh;
  place-content: center;
  text-align: center;
  display: grid;
  color: white;
  .page-title {
    font-size: clamp(2rem, 4.5vw, 5rem);
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
  }
  .span-text {
    font-size: 20px;
  }
  .since-text {
    margin-top: 10px;
  }
}
.image-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 70vh;
  place-content: center;
  text-align: center;
  display: grid;
}
.container {
  width: 100%;
  width: min(90%, 1200px);
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
  > div {
    width: 100% !important;
  }
}
